%h1 Pear

%p
  Welcome to Pear,
  =link_to "Growstuff's", "http://growstuff.org/"
  app for matching up coders for pair programming.

  - if notice
    .alert.alert-success
      =notice
  - if alert
    .alert

- if current_user
  %p
    You're signed in as #{current_user.name}.
    = link_to "Sign out.", destroy_user_session_path

  %h2 Your availability
  = form_for @user do |f|
    %p
      =f.check_box :available
      I wanna pair on some code!
    .field
      %p
        =f.label :time_zone
        =f.time_zone_select :time_zone
    %p
      =f.submit "Update", :class => 'btn'

- else
  %h2 Get started
  %p= link_to "Sign in with Github", |
    user_omniauth_authorize_path(:github), |
    :class => 'btn btn-large btn-primary'

%h2 Who's available for coding?

- if @available && @available.length > 0
  %ul
    - @available.each do |u|
      %li= u.name
- else
  %p Nobody :(

