%h1 Pear

%p
  Welcome to Pear,
  =link_to "Growstuff's", "http://growstuff.org/"
  app for matching up coders for pair programming.

  - if notice
    .alert.alert-success
      =notice
  - if alert
    .alert

- if current_user
  %p
    You're signed in as #{current_user.name}.
    = link_to "Sign out.", destroy_user_session_path

  = render :partial => "users/availability"

- else
  %h2 Get started
  %p= link_to "Sign in with Github", |
    user_omniauth_authorize_path(:github), |
    :class => 'btn btn-large btn-primary'

%h2 Who's available for coding?

- if @available && @available.length > 0
  %table.table.table-striped
    - @available.each do |u|
      %tr
        %td
          = link_to u.name, u
        %td
          = u.tz_string
- else
  %p Nobody :(

